@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

.c-table {
    min-width: 650;
}
.c-chat-section {
    width: 100%;
}
.c-head-bg {
    background-color: #e0e0e0;
}
.c-border-right-500 {
    border-right: 1px solid #e0e0e0;
}
.c-message-area {
    overflow-y: auto;
    flex-direction: column-reverse;
    display: flex;
    width: 100%;
    /* full height minus navbar (56px) minus message form (96px) */
    height: calc(100vh - 152px);
    background-color: #fff;
    border: 1px solid #eee;
}

.c-message-form {
    width: 100%;
    background-color: #fff;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.c-user-current {
    background: rgb(25, 118, 210);
    color: #fff;
}

.c-user-other {
    background: rgb(200, 200, 200);
    color: #000;
}
